@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    text-decoration: none;
}

.bg-pink {
    background-color: #FE006F;
}

.bg-black {
    background-color: #000;
}
.btn-pink {
    color: #fff;
    background-color: #FE006F;
    border-color: #FE006F;
}
.btn-pink:hover {
    color: #fff;
    background-color: #dd0000;
    border-color: #dd0000;
}

/* BARRA SUPERIOR ANUNCIO */
#barra__anuncio {
    color:#FFF;
}
#barra__anuncio .barra__anuncio__moneda,
#barra__anuncio .barra__anuncio__monto {
    color: rgb(255, 251, 0);
    font-size: 15px;
}

/* HEADER */
header .header__logo img {
    width: 80px;
    height: auto;
}
header .header__logo img:hover {
    width: 80px;
    height: auto;
    transform: rotate(90deg);
}
header .header__menu ul li a.nav-link {
    color: #FFF;
    padding: 3 px 10px;
    border-radius: .25rem;
    border: 1px solid #FE006F;
    margin: 0 10px;
}
.header .header__menu ul li a:hover {
    color: #FFF;
    background-color: #FE006F;
}
.btn-outline-pink {
    color: #FE006F;
    border-color: #FE006F;
}
.btn-outline-pink:hover {
    color: #FFF;
    background-color: #FE006F;
}

/* IMAGEN DE ENCABEZADO EN CADA PÁGINA */
header .header__slide__playeras {
    height: 400px;
    background: center center #000 url("../images/playeras-cover.jpg") no-repeat;
    background-size: cover;
}
header .header__slide__zapatos {
    height: 400px;
    background: center center #000 url("../images/zapatos-cover.jpg") no-repeat;
    background-size: cover;
}
header .header__slide__blog {
    height: 400px;
    background: center center #000 url("../images/blog-cover.jpg") no-repeat;
    background-size: cover;
}
header .header__slide__contacto {
    height: 400px;
    background: center center #000 url("../images/contacto-cover.jpg") no-repeat;
    background-size: cover;
}

/* CONTENIDO */
main.main__contenido {
    margin-top:50px;
}
main.main__contenido h1 {
    color:#EC172F;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 2em;
    padding-bottom: 20px;
    text-align: center;
}

main.main__contenido h2 {
    padding-bottom: 20px;
    text-align: center;
}

/* PRODUCTOS*/
main.main__contenido .main__producto .main__producto__box {
    text-align: center;
    border: 1px solid #000;
}
main.main__contenido .main__producto .main__producto__box .main__producto__descripcion {
    padding-top:25px;
}
main.main__contenido .main__producto .main__producto__box .main__producto__descripcion h5 a {
    color:#FE006F;
    font-weight:800;
    text-decoration:none;
}

main.main__contenido .main__producto .main__producto__box .main__producto__descripcion h5 a:hover {
    color:#dd0000;
}

/*TABLA DE PRODUCTOS*/
.table th {
   border-bottom:1px solid #FFF;
   text-align:center; 
}

/* ANIMACIONES */
.skew {
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
}
@keyframes skew {
    0% {
      transform: skewX(20deg);
    }
    100% {
      transform: skewX(-20deg);
    }
  }

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(2); }

/* ASIDE */
aside.aside__anuncio img {
    border:10px solid #FE006F;
}
.sticky-top {
    top:20px;
}

/* FOOTER */
footer.footer {
    display: grid;
    grid-template-areas: 
    "footer__cliente footer__menu footer__news footer__contacta"
    "footer__text footer__text footer__text footer__text";
    grid-template-columns: 20% 20% 20% 20%;
    gap: 20px;
    justify-content: center;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(154,0,0,1) 50%, rgba(0,212,255,1) 100%);
    color: #FFF;
    text-align: center;
    padding:30px;
}
.footer__cliente {
    grid-area: footer__cliente;
}
.footer__menu {
    grid-area: footer__menu;
}
.footer__news {
    grid-area: footer__news;
}
.footer__contacta {
    grid-area: footer__contacta;
}
.footer__text {
    grid-area: footer__text;
}
footer.footer .footer__title {
    color:#E9182C;
    padding-bottom:20px;
    text-transform:uppercase;
}
footer.footer ul.footer__cliente li a,
footer.footer ul.footer__menu li a,
footer.footer ul.footer__news li p,
footer.footer ul.footer__contacta li a,
footer.footer li a i.fab.fa-facebook,
footer.footer li a i.fab.fa-instagram {
    color:#FFF;
    line-height: 1.5em;
}
footer.footer li a i.fab.fa-facebook,
footer.footer li a i.fab.fa-instagram {
    padding:10px;
}
footer.footer ul.footer__cliente li a:hover,
footer.footer ul.footer__menu li a:hover,
footer.footer ul.footer__contacta li p a:hover,
footer.footer li a i.fab.fa-facebook:hover,
footer.footer li a i.fab.fa-instagram:hover {
    color:#FE006F;
}
.bg-pink-2 {
    background-color: #580328;
    color:#FFF;
}
.bg-pink-2 a.text-pink-100 {
    color:#bd9aa8;
}
.bg-pink-2 a.text-pink-100:hover {
    background-color: #330217;
    color:#bd9aa8;
}
footer li a.link-pink {
    color:#FE006F;
}
/* BOOTSTRAP CSS MY RULES */
@media (min-width: 1200px) {   
    .navbar-expand-xl .navbar-collapse {
        justify-content: center;
    }
}

/* .col {
    background-color: aquamarine;
    border:1px solid black;
} */
