@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CONTENIDO */
main.main__contenido {
    margin-top:50px;
}
main.main__contenido h1 {
    color:#EC172F;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 2em;
    padding-bottom: 20px;
    text-align: center;
}

main.main__contenido h2 {
    padding-bottom: 20px;
    text-align: center;
}

/* PRODUCTOS*/
main.main__contenido .main__producto .main__producto__box {
    text-align: center;
    border: 1px solid #000;
}
main.main__contenido .main__producto .main__producto__box .main__producto__descripcion {
    padding-top:25px;
}
main.main__contenido .main__producto .main__producto__box .main__producto__descripcion h5 a {
    color:#FE006F;
    font-weight:800;
    text-decoration:none;
}
main.main__contenido .main__producto .main__producto__box .main__producto__descripcion h5 a:hover {
    color:#dd0000;
}

/*TABLA DE PRODUCTOS*/
.table th {
   border-bottom:1px solid #FFF;
   text-align:center; 
}

/* ANIMACIONES */
.skew {
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
}
@keyframes skew {
    0% {
      transform: skewX(20deg);
    }
    100% {
      transform: skewX(-20deg);
    }
  }

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(2); }

/* ASIDE */
aside.aside__anuncio img {
    border:10px solid #FE006F;
}
.sticky-top {
    top:20px;
}

/* FOOTER */
.bg-pink-2 {
    background-color: #580328;
    color:#FFF;
}
.bg-pink-2 a.text-pink-100 {
    color:#bd9aa8;
}
.bg-pink-2 a.text-pink-100:hover {
    background-color: #330217;
    color:#bd9aa8;
}
footer li a.link-pink {
    color:#FE006F;
}
footer li a.link-pink:hover {
    color:#dd0000;
}


/* BOOTSTRAP CSS MY RULES */
@media (min-width: 1200px) {   
    .navbar-expand-xl .navbar-collapse {
        justify-content: center;
    }
}
@media only screen and (min-width: 360px) and (max-width: 767px) {
	.carousel-caption h1 { font-size: 1rem;line-height: 1; }
    .carousel-caption h2 { font-size: 3rem;line-height: 1; }
    .carousel-caption h5 { font-size: 0.7rem;line-height: 1; }
    .carousel-caption a.btn-pink { font-size: 0.7rem;line-height: 1; }
    .carousel-caption {
        bottom: 1.5rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 960px) {
    .carousel-caption h1 { font-size: 1.5rem;line-height: 1; }
    .carousel-caption h2 { font-size: 5rem;line-height: 1; }
    .carousel-caption h5 { font-size: 1.2rem;line-height: 1; }
    .carousel-caption a.btn-pink { font-size: 1.2rem;line-height: 1; }
    .carousel-caption {
        bottom: 3rem;
    }
}

/* .col {
    background-color: aquamarine;
    border:1px solid black;
} */
