@media (min-width: 1200px) {   
    .navbar-expand-xl .navbar-collapse {
        justify-content: center;
    }
}
@media only screen and (max-width: 767px) {
    .carousel-caption {
        bottom: 1.5rem;
        h2 {
            font-size: 3rem;
            line-height: 1;
        }
        h5 {
            font-size: 0.7rem;
            line-height: 1;
        }
        a.btn-pink {
            font-size: 0.7rem;
            line-height: 1;
        }
    }
    .headerDimensiones {
        height: $tenPixel*15;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:$black;
    }
   .main__contenido {
        margin-top:$tenPixel;
    }
   .col-footer {
        padding-bottom:1em;
    }
    #suscribe {
        margin-left: 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 960px) {
    .carousel-caption {
        bottom: 3rem;
        h2 {
            font-size: 5rem;
            line-height: 1;
        }
        h5 {
            font-size: 1.2rem;
            line-height: 1;
        }
        a.btn-pink {
            font-size: 1.2rem;
            line-height: 1;
        }
    }
    .main__contenido {
        margin-top:$tenPixel;
    }
    .col-footer {
        padding-bottom:1em;
    }
    #suscribe {
        margin-left: 0;
    }
}